body, html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: black;
}

body {
    font-family: sans-serif;
    color:whitesmoke;
    padding: 10px;
    line-height: 1;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    
}

#logo {
    height: 100%;
    width: 120px;
}

.nav{
    width: 100%;
    display: inline-flexbox;
    margin:auto;
}

main {
    display: flex;
    padding: 50px;
    flex-direction: column;
}

article {
    display: flex;
    flex-direction: row;
}

h3, p , button {
    display: none;
}

#best_film {
    float: inline-end;
}

#best_film .container_item > data {
    height: 20%;

}

#best_film h3  {
    display: flex;
}

#best_film p  {
    display: flex;
}

#best_film button  {
    display: flex;
}

/** 
carousel
*/

.carousel {
    display: inherit;
    position: relative;
    overflow: hidden;
}

.carousel__container::after {
    content: '';
    clear: both;
    display: table;
}

.carousel__container{
    display: inline-flex;
    transition: transform 0.3s;
    transform: translate3d(0, 0, 0);
}

.carousel__container .div{
    width: 100%;
}
.container__item {
    float: left;
    padding: 15px;
    
}

.carousel__next, .carousel__prev {
    width: 50px;
    height: 50px;
    background: #fff url(img/fleches_droite.svg)center center no-repeat;
    background-size: 70px 70px;
    border-radius: 50%;
    right: 20%;
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
    cursor: pointer;
    transition: transform 0.3s;
}

.carousel__next:hover, .carousel__prev:hover {
    transform: scale(1.2);
}

.carousel__prev{
    display: block;
    background: #fff url(img/fleche_gauche.svg)center center no-repeat;
    width: 50px;
    height: 50px;
    background-size: 70px 70px;
    border-radius: 50%;
    right: auto;
    left: -20px;
}


